<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center border-primary mb-3">
                <div class="card-body">
                     <a class="nav-link active" aria-current="page" href="/crear/createMateria">Crear Materia</a>
                     <a class="nav-link active" aria-current="page" href="/crearProfesor">Crear Profesor</a>
                     <a class="nav-link active" aria-current="page" href="/crear/asignarProfesor">Asignar Materias</a>
                     
                     <a class="nav-link active" aria-current="page" href="/materias">ver Materias</a> 
                     <a class="nav-link active" aria-current="page" href="/horarios">ver Horarios</a>
                     <a class="nav-link" href="/agregar">Agregar Horarios Materias</a>
                     <a class="nav-link" href="/asistencia">asistencia</a>
                     <a class="nav-link" href="/total">Asistencia de la Carrera</a>
                </div>
            </div>
        </div>

</div>