<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h3 class="mb-5">
                <em>BIENVENIDO A TO DO LIST </em>
            </h3>
            <img src="https://c.tenor.com/cKeQutrRFq8AAAAi/homer-simpson-homer-dance.gif"> 
        </div>
    </header>
</main>