<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h3 class="mb-5">
                <em>PROYECTO “Asistencia Clases Online”</em>
            </h3>
        </div>
    </header>
</main>