<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center border-primary mb-3">
                <div class="card-body">
                    <h3>Welcome {{user.rol}}</h3>
                    <img src="https://plantillasdememes.com/img/plantillas/larry-es-lo-maximo1.png"> 
                    <h3>Programar es lo Maximo</h3>
                </div>
            </div>
        </div>

</div>